<h2 style="background-color:#343951; color:white; text-align: center"> <%= @board_name %> </h2>
<div style="background-color:#F3F4F5">
  <% @lists.each do |list| %>
    <table>
      <thead>
        <th width="15%"><%= list.name %> </th>
      </thead>
      <tbody>
      <% @cards.each do |card| %>
        <% if card.list_id == list.id %>
          <tr>
            <td align="center"><%= card.name %></td>
          </tr>
        <% end%>
      <% end%>
      </tbody>
    </table>
  <br/>
  <% end %>

  <br/>
  <%= link_to 'Add new card', new_board_path%>
</div>
