<%= form_for @card, method: :post, url: boards_path do |f| %>
  <h2> New Card</h2>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </div>
  <br/>
  <%= f.submit "Create Card" %>
<% end %>
<br/>
<%= link_to 'Back', root_path%>